@import "tailwindcss";

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-background: var(--color-background);
  --color-surface: var(--color-surface);
  --color-body: var(--color-text);
  --color-muted: var(--color-text-light);
}

html {
  scroll-behavior: smooth;
}

